.collapsible {
	width: 71vw;
	margin-bottom: 30px;
}

.collapsible__btn {
	width: 100%;
	height: 47px;
	border-radius: 5px;
	background-color: #FF6060;
	display: flex;
	color:#fff;
	justify-content: space-between;
	align-items: center;
	padding: 0 18px
}

.collapsible__title {
	font-weight: 500;
	font-size: 1.4em;
}

.collapsible__arrow-up {
	transform: rotate(180deg);
}

.collapsible__content {
	background-color: #F6F6F6;
	border-radius: 0 0 5px 5px ;
	padding: 36px 20px 20px;
	color: #FF6060;
	font-weight: 400;
	font-size: 1.4em;
	line-height: 34px;
}

/*Responsive*/

@media screen and (max-width: 576px) {
	.collapsible {
		width: 90vw;
		margin-bottom: 20px;
	}

	.collapsible__btn {
		height: 30px;
		padding: 10px;
	}

	.collapsible__arrow-up, .collapsible__arrow-down {
		height: 19px;
		width: 19px;
	}

	.collapsible__title {
		font-size: 0.8em;
	}

	.collapsible__content {
		font-size: 0.8em;
		line-height: 17px;
		padding: 20px 10px;
	}
}